version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-micro_ecom}
    ports: ["5432:5432"]
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:6
    ports: ["27017:27017"]
    volumes:
      - mongodata:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS:-guest}
    ports: ["5672:5672", "15672:15672"]

  api-gateway:
    build: ./services/api-gateway
    environment:
      PORT: 3000
      USER_SERVICE_URL: http://user-service:4001
      PRODUCT_SERVICE_URL: http://product-service:4002
      ORDER_SERVICE_URL: http://order-service:4003
    ports: ["3000:3000"]
    depends_on:
      - user-service

  user-service:
    build: ./services/user-service
    environment:
      PORT: 4001
      DATABASE_URL: postgres://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-password}@postgres:5432/${POSTGRES_DB:-micro_ecom}
      JWT_SECRET: ${JWT_SECRET:-harshjha}
      SESSION_SECRET: ${SESSION_SECRET:-ankitajha}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
      GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
    depends_on:
      - postgres
    ports: ["4001:4001"]
    volumes:
      - ./services/user-service/prisma:/app/prisma

  product-service:
    build: ./services/product-service
    environment:
      MONGO_URI: mongodb://mongo:27017/micro_ecom
    depends_on:
      - mongo
    ports: ["4002:4002"]

  order-service:
    build: ./services/order-service
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-password}@postgres:5432/${POSTGRES_DB:-micro_ecom}
      RABBITMQ_URL: amqp://${RABBITMQ_USER:-guest}:${RABBITMQ_PASS:-guest}@rabbitmq:5672
    depends_on:
      - postgres
      - rabbitmq
    ports: ["4003:4003"]

volumes:
  pgdata:
  mongodata:
